<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="moye.ganjiang.com.ganjiang">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.mine.MyActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.regist.RegistOrLoginActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.regist.RegistActivity"
            android:launchMode="singleTop" />
        <activity android:name=".ui.activity.mine.CertificationActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.activity.home.ProductActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.activity.login.UpDatePassWordActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.activity.home.BankDepositsActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".ui.activity.home.BankBackActivity"
            android:launchMode="singleTop"></activity>
    </application>

</manifest>